<br>
<br>
<br>
<br>
<br>
<br>
<div class="kuro">
<p>このサイトをみてくださってありがとうございます。</p>
<p>読んだ人が幸せになれるように、様々なコンテンツを書きました。</p>
<p>コンテンツで書いたことは、私自身の意見に寄せずに客観的に書くように心がけました。</p>
<p>しかし、自分からの視点に偏っている部分もあると思います。</p>
<p>私がこの記事を書いた理由は、 <b>少しでも多くの人に自分の人生を幸せに生きてほしいから</b>です。</p>
<p>そう思う理由は、<b>人生は有限だから</b>です。</p>
<p>自分は長生きするという自信があったとしても、それを裏付ける根拠はどこにも存在しません。</p>
<p><b>明日人生が終わってしまうかもしれない</b>からこそ、1日1日を大切に幸せに生きていってほしいのです。</p>
<p>そういう<b>幸せな1日を積み上げていけば、きっと彩り豊かな人生になる</b>と思うのです。</p>
<p>みんなで少しでも多くの幸せを感じながら生きていきましょう。</p>
</div>