@charset "UTF-8";
/* line 5, app/assets/stylesheets/posts.scss */
.a {
  text-align: center;
  width: 100%;
}

/* line 10, app/assets/stylesheets/posts.scss */
.first-block {
  height: 200px;
  background-color: #a2e5be;
  color: white;
  letter-spacing: 0.2em;
  font-family: "游ゴシック";
}

/* line 21, app/assets/stylesheets/posts.scss */
.himawari {
  width: 100%;
  text-align: center;
}

/* line 27, app/assets/stylesheets/posts.scss */
.posts-container {
  color: #48565e;
  margin: auto;
  text-align: center;
}

/* line 35, app/assets/stylesheets/posts.scss */
.inu {
  color: #48565e;
  letter-spacing: 0.1em;
  padding-left: 20px;
}

/* line 41, app/assets/stylesheets/posts.scss */
.cat {
  color: #48565e;
  letter-spacing: 0.5em;
  text-align: center;
  margin: auto;
}

/* line 48, app/assets/stylesheets/posts.scss */
.hito {
  color: #48565e;
  letter-spacing: 0.2em;
  text-align: center;
  margin: auto;
}

/* line 56, app/assets/stylesheets/posts.scss */
p {
  white-space: pre-wrap;
}

/* line 60, app/assets/stylesheets/posts.scss */
.one {
  color: #48565e;
  letter-spacing: 0.5em;
}

/* line 66, app/assets/stylesheets/posts.scss */
.two {
  color: #48565e;
  letter-spacing: 0.5em;
}

/* line 71, app/assets/stylesheets/posts.scss */
.img {
  width: 100%;
  text-align: center;
}
/* line 6, app/assets/stylesheets/tweets.scss */
.ab {
  padding-left: 20px;
}

/* line 10, app/assets/stylesheets/tweets.scss */
.b {
  letter-spacing: 0.5em;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
 * {
    padding: 0;
    margin: 0;
  }


  header {
    position: fixed;
    background-color:white;
    height: 105px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    opacity:0.8;
  }


  header h1 {
    color:#7ee6ab;
    margin-left: 20px;
    letter-spacing: 0.5em;
  }

  header a {
    color: #7ee6ab; 
    text-decoration: none; 
    letter-spacing: 0.5em;
  }
  
  .header-list {
    display: flex;
    align-items: center;
  }

  header ul {
    display: flex;
  }
  header li {
    list-style: none;
    margin-right: 40px;
  }



  body {
    font-family: "游ゴシック";
    font-weight: normal;
  }





footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: white;
  font-size: 15px;
  color: #7ee6ab;
}
 
