/* line 5, app/assets/stylesheets/messages.scss */
.kuro {
  letter-spacing: 0.5em;
  padding-left: 60px;
}
@charset "UTF-8";
/* line 5, app/assets/stylesheets/posts.scss */
.a {
  text-align: center;
  width: 100%;
}

/* line 10, app/assets/stylesheets/posts.scss */
.first-block {
  height: 200px;
  background-color: #a2e5be;
  color: white;
  letter-spacing: 0.2em;
  font-family: "游ゴシック";
  width: 100%;
  max-width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 24, app/assets/stylesheets/posts.scss */
img {
  width: 1000px;
  height: 500px;
  text-align: center;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

/* line 37, app/assets/stylesheets/posts.scss */
.oni {
  text-align: center;
}

/* line 44, app/assets/stylesheets/posts.scss */
.himawari {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* line 50, app/assets/stylesheets/posts.scss */
.posts-container {
  color: #48565e;
  margin: auto;
  text-align: center;
}

/* line 57, app/assets/stylesheets/posts.scss */
.inu {
  color: #48565e;
  letter-spacing: 0.1em;
  padding-left: 60px;
}

/* line 63, app/assets/stylesheets/posts.scss */
.cat {
  color: #48565e;
  letter-spacing: 0.5em;
  text-align: center;
  margin: auto;
}

/* line 70, app/assets/stylesheets/posts.scss */
.hito {
  color: #48565e;
  letter-spacing: 0.2em;
  text-align: center;
  margin: auto;
}

/* line 77, app/assets/stylesheets/posts.scss */
.card-img-top {
  width: 300px;
  height: 200px;
}

/* line 82, app/assets/stylesheets/posts.scss */
.card {
  border-radius: 10px;
}

/* line 86, app/assets/stylesheets/posts.scss */
p {
  white-space: pre-wrap;
}

/* line 90, app/assets/stylesheets/posts.scss */
.one {
  color: #48565e;
  letter-spacing: 0.5em;
  padding-top: 30px;
  padding-left: 30px;
}

/* line 98, app/assets/stylesheets/posts.scss */
.two {
  color: #48565e;
  letter-spacing: 0.5em;
  padding-bottom: 15px;
}

/* line 104, app/assets/stylesheets/posts.scss */
.img {
  width: 100%;
  text-align: center;
}

/* line 110, app/assets/stylesheets/posts.scss */
.tapi {
  margin-left: 30px;
  margin-right: 30px;
}

/* line 115, app/assets/stylesheets/posts.scss */
.card-body {
  margin-left: 30px;
  margin-right: 30px;
  -ms-flex: 11 auto;
  flex: 11 auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 124, app/assets/stylesheets/posts.scss */
.card-colusms {
  padding-right: 15px;
  padding-left: 15px;
  width: 1000px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 30px;
  margin-left: 30px;
}

/* line 138, app/assets/stylesheets/posts.scss */
.col-md-4 {
  padding-right: 15px;
  padding-left: 15px;
}
/* line 6, app/assets/stylesheets/tweets.scss */
.ab {
  padding-left: 20px;
}

/* line 10, app/assets/stylesheets/tweets.scss */
.b {
  letter-spacing: 0.5em;
}
/* line 5, app/assets/stylesheets/users.scss */
.nemui {
  padding-left: 30px;
  letter-spacing: 0.2em;
}
@charset "UTF-8";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 25, app/assets/stylesheets/application.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 31, app/assets/stylesheets/application.scss */
header {
  position: fixed;
  background-color: white;
  height: 105px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  opacity: 0.85;
  z-index: 9999;
}

/* line 44, app/assets/stylesheets/application.scss */
happy {
  position: fixed;
  background-color: white;
  height: 105px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  opacity: 0.8;
}

/* line 58, app/assets/stylesheets/application.scss */
header h1 {
  margin-left: 20px;
  letter-spacing: 0.5em;
  /*  background: linear-gradient(to right, #f00 0%, #f80 14.28%, #dd0 28.56%, #0d0 42.85%, #0dd 57.14%, #00f 71.42%, #e0e 85.71%, #f00 100%) 0% center / 200% auto;*/
  background: -webkit-linear-gradient(0deg, #ff9a02, #faf600, #05fa43, #09b3f7);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  animation: example 4s linear infinite;
}

/* @keyframes header h1{
  to { background-position-x: 200%; }
}*/
/* line 76, app/assets/stylesheets/application.scss */
header a {
  text-decoration: none;
  letter-spacing: 0.5em;
  color: #FF8C00;
  background: -webkit-linear-gradient(0deg, #09b3f7, #4b66fc, #8400ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 87, app/assets/stylesheets/application.scss */
.header-list {
  display: flex;
  align-items: center;
}

/* line 92, app/assets/stylesheets/application.scss */
header ul {
  display: flex;
}

/* line 95, app/assets/stylesheets/application.scss */
header li {
  list-style: none;
  margin-right: 40px;
}

/* line 102, app/assets/stylesheets/application.scss */
body {
  font-family: "游ゴシック";
  font-weight: normal;
}

/* line 111, app/assets/stylesheets/application.scss */
footer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: white;
  font-size: 15px;
  color: #7ee6ab;
}
