// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.a{
    text-align:center;
    width: 100%;
}

.first-block {

  height: 200px;
  background-color: #a2e5be;
  color: white;
  letter-spacing: 0.2em;
  font-family: "游ゴシック";
}


   
.himawari{
    
    width: 100%;
    text-align : center;
  }

.posts-container{
    color: #48565e; 
    margin:auto;
    text-align:center;
    
}


.inu{
  color: #48565e; 
  letter-spacing: 0.1em;
  padding-left: 20px;
}

.cat{
  color: #48565e; 
  letter-spacing: 0.5em;
  text-align : center;
  margin:auto;
}

.hito{
  color: #48565e; 
  letter-spacing: 0.2em;
  text-align : center;
  margin:auto;
}


p {
    white-space: pre-wrap;
  }

.one{
    color: #48565e; 
    letter-spacing: 0.5em;
  }


.two{
    color: #48565e; 
    letter-spacing: 0.5em;
  }

  .img{
    width: 100%;
    text-align : center;
    
  }

  